## String

In [5]:
texto = "Este es el curso de Visualización de datos en Python"
texto = 'Este es el curso de Visualización de datos en R'

In [6]:
texto

'Este es el curso de Visualización de datos en R'

In [8]:
texto[-1]

'R'

In [10]:
texto[6:9]

's e'

In [13]:
texto.upper()
texto.lower()

'este es el curso de visualización de datos en r'

In [15]:
texto = texto.upper()

In [16]:
texto

'ESTE ES EL CURSO DE VISUALIZACIÓN DE DATOS EN R'

In [17]:
texto.replace("DATOS EN R","DATOS EN PYTHON")

'ESTE ES EL CURSO DE VISUALIZACIÓN DE DATOS EN PYTHON'

In [18]:
texto.replace("Datos en R","Datos en Python")

'ESTE ES EL CURSO DE VISUALIZACIÓN DE DATOS EN R'

In [19]:
texto.split(" ")

['ESTE', 'ES', 'EL', 'CURSO', 'DE', 'VISUALIZACIÓN', 'DE', 'DATOS', 'EN', 'R']

In [20]:
texto

'ESTE ES EL CURSO DE VISUALIZACIÓN DE DATOS EN R'

In [23]:
curso = "Secuenciación por Nanopore" #"Visualización de datos en Python"
f"Este es el curso de {curso}"

'Este es el curso de Secuenciación por Nanopore'

In [28]:
programa = "Magister en bioinformática"
año = 2025

In [29]:
f"Bienvenido al curso de {curso} del programa de {programa} - {año}"

'Bienvenido al curso de Secuenciación por Nanopore del programa de Magister en bioinformática - 2025'

## Listas

In [43]:
estudiantes = ["Elsa","Bárbara","Jorge"]

In [31]:
estudiantes

['Elsa', 'Bárbara', 'Jorge']

In [32]:
estudiantes[0]

'Elsa'

In [33]:
estudiantes[2]

'Jorge'

In [37]:
estudiantes[0:2]

['Elsa', 'Bárbara']

In [36]:
estudiantes[1:]

['Bárbara', 'Jorge']

In [44]:
estudiantes.append("Rafael")

In [49]:
estudiantes.append("Rafael")

In [41]:
estudiantes

In [46]:
(estudiantes)

['Elsa', 'Bárbara', 'Jorge', 'Rafael', 'Rafael']

In [47]:
estudiantes[4] = "Nicole"

In [50]:
estudiantes

['Elsa', 'Bárbara', 'Jorge', 'Rafael', 'Nicole', 'Rafael']

In [51]:
estudiantes.remove("Rafael")

In [52]:
estudiantes

['Elsa', 'Bárbara', 'Jorge', 'Nicole', 'Rafael']

In [54]:
"Jorge González" in  estudiantes

False

In [56]:
estudiantes

['Elsa', 'Bárbara', 'Jorge', 'Nicole', 'Rafael']

In [57]:
estudiantes.count("Bárbara")

1

In [58]:
estudiantes.append("Bárbara")

In [61]:
estudiantes.count("Bárbara")

2

In [63]:
sorted(estudiantes)

['Bárbara', 'Bárbara', 'Elsa', 'Jorge', 'Nicole', 'Rafael']

In [73]:
notas = ["6","6.7","5","1,3","7.3"]

In [66]:
sorted(notas)

[1, 3, 5, 6, 6.7, 7.3]

In [67]:
estudiantes

['Elsa', 'Bárbara', 'Jorge', 'Nicole', 'Rafael', 'Bárbara']

In [68]:
notas

[6, 6.7, 5, 1, 3, 7.3]

In [74]:
lista_mixta = estudiantes + notas

In [75]:
sorted(lista_mixta)

['1,3',
 '5',
 '6',
 '6.7',
 '7.3',
 'Bárbara',
 'Bárbara',
 'Elsa',
 'Jorge',
 'Nicole',
 'Rafael']

In [76]:
lista_mixta.append("bárbara")

In [79]:
lista_mixta.append("##")

In [80]:
sorted(lista_mixta)

['##',
 '1,3',
 '10',
 '5',
 '6',
 '6.7',
 '7.3',
 'Bárbara',
 'Bárbara',
 'Elsa',
 'Jorge',
 'Nicole',
 'Rafael',
 'bárbara']

In [81]:
len(lista_mixta)

14

## Diccionarios

In [83]:
data_viz_curse = {"nombre":"Visualización de datos",
                  "cantidad_de_estudiantes":5,
                  "programa":"Magister en bioinformática",
                  "sala": "Magister/ Dpto. Computación"
                  }

In [84]:
data_viz_curse

{'nombre': 'Visualización de datos',
 'cantidad_de_estudiantes': 5,
 'programa': 'Magister en bioinformática',
 'sala': 'Magister/ Dpto. Computación'}

In [85]:
data_viz_curse["nombre"]

'Visualización de datos'

In [86]:
data_viz_curse["nota"]

KeyError: 'nota'

In [90]:
data_viz_curse.get("nota","No existe la nota")

'No existe la nota'

In [91]:
data_viz_curse["nota"] = [6,7,4.6,3]

In [92]:
data_viz_curse.get("nota","No existe la nota")

[6, 7, 4.6, 3]

In [94]:
data_viz_curse.keys()

dict_keys(['nombre', 'cantidad_de_estudiantes', 'programa', 'sala', 'nota'])

In [95]:
data_viz_curse.values()

dict_values(['Visualización de datos', 5, 'Magister en bioinformática', 'Magister/ Dpto. Computación', [6, 7, 4.6, 3]])

In [96]:
"Visualización de datos" in data_viz_curse.values()

True

In [97]:
data_viz_curse.items()

dict_items([('nombre', 'Visualización de datos'), ('cantidad_de_estudiantes', 5), ('programa', 'Magister en bioinformática'), ('sala', 'Magister/ Dpto. Computación'), ('nota', [6, 7, 4.6, 3])])

In [99]:
data_viz_curse.pop("sala")

'Magister/ Dpto. Computación'

In [102]:
data_viz_curse[128] = True

In [103]:
data_viz_curse

{'nombre': 'Visualización de datos',
 'cantidad_de_estudiantes': 5,
 'programa': 'Magister en bioinformática',
 'nota': [6, 7, 4.6, 3],
 128: True}

In [104]:
True

True

In [108]:
type(2.6)

float

## Tarea 1: Strings, listas y diccionarios

In [8]:
name = "Bárbara Gutiérrez"

In [3]:
age = 29

In [4]:
courses = ["Visualización de datos", "Machine learning", "Secuenciación por Oxford Nanopore"]

In [6]:
person = { "fullname" : "Bárbara Marlenne Gutiérrez Cárdenas",
          "birth" : "29 de febrero de 1996"}

In [13]:
f"Mi nombre es {name} y tengo {age} años"
"Hola"

'Hola'

In [12]:
print(f"Mi nombre es {name} y tengo {age} años")
print("Hola")

Mi nombre es Bárbara Gutiérrez y tengo 29 años
Hola

In [14]:
courses.append("Ciencia de datos")

In [15]:
courses

['Visualización de datos',
 'Machine learning',
 'Secuenciación por Oxford Nanopore',
 'Ciencia de datos']

In [16]:
courses[2]

'Secuenciación por Oxford Nanopore'

In [20]:
f"El tercer elemento es {courses[2]}"

'El tercer elemento es Secuenciación por Oxford Nanopore'

In [21]:
courses[0]

'Visualización de datos'

In [22]:
len(courses)

4

In [25]:
"career" in person
person["career"]="tecnologo medico"

In [29]:
llaves = len(person.keys())

In [35]:
f"el diccionario person posee {llaves} claves {person.keys()}"

"el diccionario person posee 3 claves dict_keys(['fullname', 'birth', 'career'])"

In [1]:
import math

In [2]:
math.pi

3.141592653589793

## Condicionales

In [36]:
notas = {"Juan Perez": [6.3, 4.5, 7.0, 5.6],
         "Maria Gomez": [5.5, 6.0, 5.8, 6.2],
         "Luis Martinez": [6.5, 6.0, 5.8, 5.2],         
         }

In [11]:
notas.values()

dict_values([[6.3, 4.5, 7.0, 5.6], [5.5, 6.0, 5.8, 6.2], [7.5, 8.0, 7.8, 8.2]])

In [15]:
notas["Juan Perez"]

[6.3, 4.5, 7.0, 5.6]

In [21]:
promedio_JuanPerez = sum(notas["Juan Perez"]) / len(notas["Juan Perez"])

In [22]:
promedio_JuanPerez

5.85

In [24]:
if(promedio_JuanPerez <5):
    print("El estudiante debe rendir un examen")
else:
    print("El estudiante aprobo la asignatura")

El estudiante aprobo la asignatura

In [27]:
promedio_JuanPerez = 6.5
if(promedio_JuanPerez <5):
    print("El estudiante debe rendir un examen")
elif(promedio_JuanPerez<6):
    print("El estudiante aprobo la asignatura")
# else:
#     print("El estudiante aprobo con honores")

## For

In [31]:
notas.items()

dict_items([('Juan Perez', [6.3, 4.5, 7.0, 5.6]), ('Maria Gomez', [5.5, 6.0, 5.8, 6.2]), ('Luis Martinez', [7.5, 8.0, 7.8, 8.2])])

In [38]:
for estudiante, notas_totales in notas.items():
    # print(estudiante,notas_totales)
    promedio = sum(notas_totales) / len(notas_totales)
    promedio = round(promedio,1)
    print(f"El estudiante {estudiante} tiene un promedio de {promedio} ")

El estudiante Juan Perez tiene un promedio de 5.8
El estudiante Maria Gomez tiene un promedio de 5.9
El estudiante Luis Martinez tiene un promedio de 5.9

In [41]:
for num in range(5,10):
    print(num)

5
6
7
8
9

In [46]:
for num in range(5,15,2):
    print(num)
    print(num*2)

5
10
7
14
9
18
11
22
13
26

In [47]:
for num in range(5,15,2):
    print(num)
print("-----------------------")
    print(num*2)

IndentationError: unexpected indent (3812129805.py, line 4)

## Funciones

In [50]:
notas = [4.5,4,2]
notas = "Bienvenidos"

In [51]:
type(notas)

str

In [52]:
def suma():
    num1 = 9
    num2 = 15
    suma = num1 + num2
    print(f"La suma entre {num1} y {num2} es {suma}")

In [54]:
def suma(num1, num2):
    suma = num1 + num2
    print(f"La suma entre {num1} y {num2} es {suma}")

In [56]:
suma(16,4)

La suma entre 16 y 4 es 20

In [57]:
def suma(num1, num2, num3=0):
    suma = num1 + num2 + num3
    if(num3!=0):
        print(f"La suma entre {num1}, {num2} y {num3} es {suma}")
    else:
        print(f"La suma entre {num1}, {num2} es {suma}")

In [68]:
def suma(num1, num2, num3=0):
    suma_nums = num1 + num2 + num3
    if(num3!=0):
        print(f"La suma entre {num1}, {num2} y {num3} es {suma_nums}")
    else:
        print(f"La suma entre {num1}, {num2} es {suma_nums}")
        
    return(suma_nums)

In [71]:
# suma(4,5)
suma_entre_valores = suma(4,7)

La suma entre 4, 7 es 11

In [72]:
suma_entre_valores

11

In [73]:
suma(4,7)

La suma entre 4, 7 es 11

11

In [63]:
suma_entre_valores

11

## Tarea 2: Condicionales, ciclos y funciones

In [2]:
num=19
if num>=20:
    print(f"el valor es mayor a 20 (num={num})")
else:
    print(f"el numero es menor a 20 (num={num})")

el numero es menor a 20 (num=19)

In [4]:
rango=range(22,46)

for x in rango:
    if(x % 2 ==0):
        print(f"el numero {x} es par")

el numero 22 es par
el numero 24 es par
el numero 26 es par
el numero 28 es par
el numero 30 es par
el numero 32 es par
el numero 34 es par
el numero 36 es par
el numero 38 es par
el numero 40 es par
el numero 42 es par
el numero 44 es par

In [6]:
def suma(num1, num2):
    suma_numeros = num1 + num2
    if (suma_numeros>=10):
        print(f"suma mayor o igual a 10")
    else:
        print(f"menor a 10")
    return(suma_numeros)

In [7]:
suma(2, 3)

menor a 10

5

In [13]:
def suma(num1, num2, num3 = 3):
    suma_numeros = num1 + num2 + num3
    if (suma_numeros>=10):
        print(f"suma mayor o igual a 10")
    else:
        print(f"menor a 10")
    return(suma_numeros)

In [14]:
suma(1, 2)

menor a 10

6

In [15]:
def imprime_pares(n):
    for x in range(1,n):
        if(x % 2 == 0):
            print(x)

In [16]:
imprime_pares(10)

2
4
6
8